.hero-banner, .sidebar-search{
    min-height: calc( 100vh - 65px);
    @extend %fill-bg;
    position: relative;
    color: white;
    background-color: $color-dark;
    
    &:before{
        @extend %fill-all;
        content: '';
        background-color: rgba(black,.3);
    }
    
    
    >.inner{
        @include center(true,true);
        margin-top: -70px;
        transform-style: preserve-3d;
        text-align: center;
        width: 100%;
        max-width:680px;
        padding: 0px 10px;
        @media only screen and(min-width:480px){
            padding: 0px 20px;
        }
        
    }
    
    .home-description{
        text-shadow: $base-shadow;
        text-align: left;
        
        h1{
            @extend %contrast-font;
             margin-bottom:10px;  
            font-size: 150%;
            @media only screen and(min-width:640px){
                
                font-size: 190%;
                margin-bottom:30px;  
            }
            
            font-weight:900;
            margin-bottom:.7rem;
            line-height: 1.2;
            text-transform: uppercase;    
        }
        
        p{
            line-height: 1.4;
             margin-bottom:20px;  
            
            @media only screen and(min-width:640px){
                font-size: 130%;
                 margin-bottom:40px;  
            }
        }
        
    }
    
    form{
        position:relative;
        display: inline-block;
        padding: 15px;
        background: white;
        box-shadow: $base-shadow;
        font-size: 0;
        
        input[type="text"]{
            font-size: 16px;
            outline: none;
            display: inline-block;
            width: 280px;
            height: 50px;
            line-height:50px;
            border: 1px solid $color-dark-2;
            vertical-align: top;
            padding: 0px 10px;
            margin-right: 5px;
            color: $base-color;
            font-weight: 300;
            z-index: 1;
            
            &::-webkit-input-placeholder { font-style: italic; font-weight: inherit; }
            &::-moz-placeholder { font-style: italic; font-weight: inherit; } 
            &:-ms-input-placeholder { font-style: italic; font-weight: inherit; }
            &:-moz-placeholder { font-style: italic; font-weight: inherit; }
        }
        
        a{
            display: inline-block;
            height: 50px;
            width: 55px;
            fill: white;
            background: $color-blue;
            vertical-align: top;
            position: relative;
            transition: background 120ms;
            
            svg{
                @include center(true,true);
                width: 28x;
                height: 28px;
            }
            
            &:hover{
                background: lighten($color-blue,10);
            }
        }
        
        @media only screen and(max-width:480px){
        
            input[type="text"]{
                font-size:13px;
                height: 40px;
                line-height: 40px;
                width: 220px;
            }
            
            a{
                height: 40px;
                width:45px;
            }
        }
        
    }
}

.hero-banner.search-mode{
    background-image: none!important;
    background-color: white;
    height: auto;
    overflow: auto;
    
    &:before{
        display: none;
    }
    
    
    >.inner{
        top: 0;
        left: 0;
        right: 0;
        transform: none;
        text-align: left;
        margin-top: 0px;
        position: relative;
        padding: 0px 0px 100px;
        max-width: none;
        
    }
    
    .home-description{
        display: none;
    }
    
    #product-search-form{
        box-shadow: none;
        display: block;
        border-bottom: 1px solid $color-light;
        
        input{
            
            width: 239px;
            
            @media only screen and(min-width:480px){
                
                width: 320px;
            }
            
            height: 40px;
            line-height: 40px;
            font-size: 14px;
        }
        
        a{
            height: 40px;
            width: 45px;
            
            svg{
                width: 24px;
                height: 24px;
            }
        }
    }

    
}