.search-results-container,
.archive-list{
    
    .result{
        color: $color-dark-2;
        text-decoration: none;
        display: block;
        padding:20px;
        box-shadow: $base-shadow;
        outline: none;
        transition: background-color 50ms;
        
        &:focus{
            background-color: $color-light-4;
        }
    }
    
    .result-img{
        display: inline-block;
        width: 120px;
        vertical-align: top;
    }
    
    .result-text{
        display: inline-block;
        padding-right: 10px;
        border-right: 1px solid $color-light-2;
        width: calc(60% - 120px);
        max-width: 480px;
    }
    
    .result-title{
        font-weight: bold;
        margin-bottom: 5px;
    }
    
    .result-desc{
        @extend %article-font-style;
        font-size: 90%;
    }
    
    .hilight{
        text-decoration: underline;
        font-weight: bold;
    }
    
    .result-footer{
        padding: 5px 0px 0px;
        
        span{
            color: $anchor-color;
            font-size:80%;
            padding: 0px 7px;
            border-left: 1px solid $anchor-color;
            transition: color 120ms;
            &:hover{
                color: darken($anchor-color,10);
            }
            &:first-child{
                border-left: none;
                padding-left: 0px;
            }
        }
    }
    
    .result-links{
        display: inline-block;
        vertical-align: top;
        padding-left: 10px;
        
        .download-link{
            
            font-weight:900;
            margin-bottom: 20px;
            color: #666;
            line-height: 18px;
            font-size: 95%;
            
            &:before{
                content: '';
                background: url(../statics/svg/download-grey.svg);
                height: 18px;
                width: 18px;
                background-size: contain;
                display: inline-block;
                margin-right: 10px;
                vertical-align: top;
            }
            
        }
        
    }
    
    .search-no-results{
        display: block;
        margin: 15px;
        background: $color-light-3;
        color: darken($color-light-2,20);
        height: 200px;
        line-height: 1.5;
        text-align: center;
        position: relative;
        
        span{
            @include center(true,true);
            padding: 20px;
            width: 100%;
            font-weight: 300;
        }
    }
}