.sidebar-info{
    
    .info-logo{
        max-width: 180px;
        margin-bottom: 20px;
    }
    
    padding: 30px 25px 50px;
    @extend %article-font-style;
    font-size: 90%;
    color: #999;
    
    svg{
        fill: #999; 
    }
    
    a{
        color: inherit;
        transition: color 120ms;
        text-decoration: none;
        
        &:hover{
            color: $anchor-color;
        }
    }
}