.single-content,
.archive-content{
    display: block;
    overflow: auto;
    
    main{
        min-height: calc(100vh - #{$header-height});
    }
    aside{
        background: $color-light-3;
        overflow: hidden;
    }
    
    @media only screen and(min-width:768px){
    
        main{
                width: calc(100% - 240px );
            }
         
        aside{
            position: fixed;
            right: 0;
            top: $header-height;
            width: 240px;
            min-height: 230px;
            height: calc(100vh - #{$header-height});
            
            &.bottom{
                position: absolute;
                top: auto;
                bottom: 0;
            }
        }
         
    }
    
    @media only screen and(min-width:960px){
        
        main{
                width: calc(100% - 320px);
            }
         
        aside{
            
            width: 320px;
            
        }
        
    }
    
    @media only screen and(min-width:1280px){
        
        main{
                width: 75%;
            }
         
        aside{
            
            width: 25%;
            
        }
        
    }
    
    article{
        @extend %article-font-style;

        h2{
            font-size: 200%;
            color: $color-blue;
            font-family: $contrast-font;
        }

        h3{
            font-size: 150%;
            font-family: $contrast-font;
        }

        h4{
            font-size: 125%;
            font-family: $contrast-font;
        }

        h5{
            font-size: 125%;
            font-weight: bold;
        }

        h6{
            font-size: 125%;
        }

        em{
            font-style: italic;
        }

        strong{
            font-weight: bold;
        }

        ul{
            list-style: disc;
            padding-left: 20px;
        }

        ol{
            list-style: decimal;
            padding-left: 20px;
        }

        ul,ol,p{
            margin-bottom: .8rem;
        }
        
    }
    
    .article-header{
        position: relative;
        background-color: $color-light-2;
        height: 264px;
        @extend %fill-bg;
        
        @media only screen and(min-width:768px){
            
            height: 0;
            padding-bottom: 50%;
        }
        
        
        @media only screen and(min-width:1280px){
            height: 480px;
            padding-bottom: 0; 
        }
    }
    
    .header-text{
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(white,.95);
        padding: $base-margin*2;
        
        
        @media only screen and(min-width:960px){
            max-width: calc(100% - 200px);
        }
        
        
        @media only screen and(min-width:1040px){
            bottom: 20px;
            @include center(true,false);
            width: 640px + $base-margin * 4;
            box-shadow: $base-shadow;
        }
        
        h1{
            color: $color-blue;
            font-size: 32px;
            font-family: $contrast-font;
            line-height: 1.1;
        }
        
    }
    
    .article-content{
        
        padding: 50px 20px 70px;
        max-width: 680px;
        margin-left: auto;
        margin-right: auto;
        
        h1{
            color: red;
            font-size: 0;
            &:after{ 
                content: 'h1 is reserved for document base only. please use h2 instead';
                font-size: 12px;
            }
        }
        
    }
}

@media only screen and(min-width:1040px){

    .single-produkt{

        .single-content .header-text{
            left: 20px;
            transform: none;
        }
    }
}